<ion-content class="ion-padding">
  <div class="container">
    <h1>Calculadora de Múltiplos</h1>
    <ion-item lines="none">
      <ion-input type="number" [(ngModel)]="inputNumber" placeholder="Ingresa un número"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="findMultiples()" class="ion-margin-top">Calcular</ion-button>

    <!-- Nueva visualización con CSS Grid -->
    <div *ngIf="results" class="grid-container">
      <div *ngFor="let result of results" class="grid-item" [style.color]="result.color">
        {{ result.number }}
        <span *ngIf="result.multiples.length > 0">
          [{{ result.multiples.join(', ') }}]
        </span>
      </div>
    </div>
  </div>
</ion-content>
